<h2 class="ui dividing header">新增</h2>
<%= render 'form', role: @role, url: admin_hr_roles_path, meth: :post %>
<div class="actions">
  <div class="ui button cancel">取消</div>
  <div class="ui blue button" onclick="submit_form()">确定</div>
</div>