$('#new_role_modal').remove();
$('#edit_role_modal').remove();
$('body').append('<div class="ui modal" id="new_role_modal"><i class="close icon"></i><%= j(render 'new') %></div>');
$('#new_role_modal').modal('setting', {autofocus: false}).modal('show');
//提交表单
function submit_form() {
  $("#new_role").submit();
}
//验证表单
$("#new_role").form({
  inline : true,
  fields: {
    name: {
      identifier: 'role[name]',
      rules: [{
        type: 'regExp[/^[a-zA-Z]+$/]',
        prompt: '请输入英文名称'
      }]
    },
    name_cn: {
      identifier: 'role[name_cn]',
      rules: [{
        type: 'empty',
        prompt: '请输入中文名称'
      }]
    }}
});